[Unit]
Description=Redis data structure server
Documentation=https://redis.io/documentation

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis.conf
ExecStop=/usr/local/bin/redis-cli shutdown
Restart=always
LimitNOFILE=65535
NoNewPrivileges=yes
#OOMScoreAdjust=-900
#PrivateTmp=yes
#Type=notify
Type=forking
#TimeoutStartSec=100
#TimeoutStopSec=100
UMask=0077
User=redis
Group=redis
WorkingDirectory=/var/lib/redis
[Install]
WantedBy=multi-user.target
