daemonize yes

bind {{ ansible_default_ipv4.address }}  127.0.0.1

port 26379

dir "/var/lib/redis-sentinel"
logfile "/var/log/redis/redis-sentinel.log"
 
sentinel monitor redis-master {{ groups['master'][0] }}  6379 2
sentinel down-after-milliseconds redis-master 5000
sentinel failover-timeout redis-master 15000
sentinel parallel-syncs redis-master 2
sentinel auth-pass redis-master  {{redispassword}}
